#white,
li,
h3,
td,
thead {
    color: #ececec;
}

.intro {
    background-color: #1B2430;
}

.lang {
    background-color: #51557E;
}

.work{
    background-color: #816797;
}
body{
    background-color: #ECE5C7;
}